{% if datatabledata %}
  <div class="mbta_routes_table">
    <table class="responsive-enabled table" data-striping="1">
      <thead>
        <tr>
          <th scope="col">{{ 'Name'|t }}</th>
          <th scope="col">{{ 'Description'|t }}</th>
        </tr>
      </thead> 
      <tbody>
        {% for item in datatabledata %}
          <tr bgcolor="#{{ item.color }}" scope="row">
            <td>
              <font color="#{{ item.text_color }}"> {{ item.long_name }} </font>
            </td>
            <td>
              <font color="#{{ item.text_color }}"> {{ item.description }} </font>
            </td>
          </tr>
        {% endfor %}
      </tbody    
    </table>
  </div>
  {% else %}
  <div class="mbta_routes_table">{{ 'No Data Found'|t }}</div>  
{% endif %}